# Python / venv
.venv/
venv/
__pycache__/
*.pyc

# Secrets
.env

# Data / DB 
db/*.db
data/raw/*
data/staged/*
data/processed/*
downloads/*
fda_dashboard_downloads/*
fda_outputs/*


# OS/IDE
.DS_Store
.vscode/

src/apiextract1.py